@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #379683; 
  text-decoration: inherit;
}
a:hover {
  color: #5cdb95; 
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body[data-theme="light"] {
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
}

body[data-theme="dark"] {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body[data-theme="light"] .admin-header {
  background-color: #ffffff !important;
  color: #1f2937 !important;
  border-color: #e5e7eb !important; 
}

body[data-theme="dark"] .admin-header {
  background-color: #1e3a8a !important;
  color: #ffffff !important;
  border-color: #1e40af !important; 
}


body[data-theme="light"] .admin-sider,
body[data-theme="light"] .admin-sider .ant-layout-sider-children {
  background-color: #ffffff !important;
}

body[data-theme="dark"] .admin-sider,
body[data-theme="dark"] .admin-sider .ant-layout-sider-children {
  background-color: #1e3a8a !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #edf5e1; 
  }
  a:hover {
    color: #5cdb95;
  }
}

.date-input::-webkit-datetime-edit {
  color: #111827;
}

.date-input:not(:focus):invalid::-webkit-datetime-edit {
  color: transparent;
}

/* Đổi màu icon chọn ngày cho giống màu icon còn lại */
.date-input::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(36%) saturate(534%) hue-rotate(116deg) brightness(91%) contrast(92%);
  cursor: pointer;
}
